{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "env": {
    "browser": true
  },
  "extends": [
    "standard",
    "plugin:vue/recommended"
  ],
  "plugins": [
    "vue",
    "json"
  ],
  "rules": {
    "one-var": "off",
    "no-mixed-operators": "off",
    "no-template-curly-in-string": "off",
    "space-before-function-paren": "off",
    "arrow-parens": "off",
    "generator-star-spacing": "off",
    "no-debugger": "off",
    "vue/require-prop-types": "off",
    "vue/max-attributes-per-line": "off",
    "vue/require-default-prop": "off",
    "vue/html-self-closing": "off"
  }
}
