:root {
  --ti-mobile-exception-bgcolor: var(--ti-mobile-base-color-light, #fff);
  --ti-mobile-exception-view-size: 200px;
  --ti-mobile-exception-main-message-color: var(--ti-mobile-base-color-secondary, #666);
  --ti-mobile-exception-main-message-font-size: 14px;
  --ti-mobile-exception-sub-message-color: var(--ti-mobile-base-color-placeholder, #999);
  --ti-mobile-exception-sub-message-font-size: var(--ti-mobile-base-font-size, 12px);
  --ti-mobile-exception-footer-color: var(--ti-mobile-base-color-placeholder, #999);
  --ti-mobile-exception-footer-font-size: var(--ti-mobile-base-font-size, 12px);
}
